#forecast {
    position:absolute;
    left: -3%;

}

h1 {
    margin-bottom: 0%;
    background-image: linear-gradient(to right, #28282B, #FFC000, #FFFFFF);
}

li {
    color: black;
    background-image: linear-gradient(to right, #28282B, #FFC000, #FFFFFF);
    text-align: center;
}